/*font-family: 'PT Sans', sans-serif;*/
body{
font-family: 'PT Sans', sans-serif;
color: #898989;
}
/*header start*/
header{
background-color: #fcdb00;
padding: 15px 0;
}
.logo{}
.menu{}
.menu ul li a{
font-size: 22px;
font-weight: 700;
color: #010101 !important;
padding: 0 42px !important;
transition: .3s;
}
.menu ul li:last-child a{
padding-right: 0 !important;
}
.menu ul li a:hover{
color: white !important;
}
/*header end*/
/*slider start*/
.slider{
background-color: #fcdb00;
padding-bottom: 100px;
}
.s_text h1{
margin-bottom: 20px;
font-size: 32px;
font-weight: 700;
color: #010101;
}
.cid{
bottom: -80px;
}
.cid li{
width: 15px !important;
height: 15px !important;
border-radius: 50%;
background-color: #070606;
}
.cid .active{
background-color: #006400;
}
.s_text{
margin-top: 70px;
}
.s_text h3{
margin-bottom: 20px;
font-size: 20px;
font-weight: 400;
color: #313841;
letter-spacing: 1px;
word-spacing: 2px;
}
.s_text p {
margin-bottom: 35px;
font-size: 16px;
font-weight: 400;
color: #555555;
line-height: 22px;
letter-spacing: 2px;
}
.s_icon li i{
font-size: 42px;
color: #010101;
margin-right: 30px;
}
.s_img{}
.s_img img{}
/*slider end*/

/*features start*/
.c_padding{
	padding-top: 100px;
	padding-bottom: 120px;
}
.feature{}
.c_title{}
.c_h1{
	margin-bottom: 15px;
	font-size: 32px;
	font-weight: 700;
	color: #010101;
}
.c_p{
	font-size: 20px;
	font-weight: 400;
	color: #313841;
	letter-spacing: 2px;
    word-spacing: 2px;
    line-height: 25px;
}
.c_mt_70{
	margin-top: 70px;
}
.si_icon{
	font-size: 50px;
	color: #010101;
	text-align: center;
}
.si_text{
    margin-top: 10px;
}
.si_text h2{
	margin-bottom: 15px;
	font-size: 22px;
	font-weight: 400;
	color: #010101;
}
.si_text p{
	font-size: 16px;
	font-weight: 400;
	/*color: #898989;*/
	letter-spacing: 1px;
    line-height: 20px;
}

/*features end*/
/*contact start*/
.contact{
	background-color: #010101;
}
.c_yellow{
	color: #fcdb00;
}
.c_ash{
	color: #898989;
}
.c_email{
	width: 100%;
	height: 50px;
	font-family: 'PT Sans', sans-serif;
	font-size: 16px;
	font-weight: 400;
	color: #898989;
}
.c_email:focus{
    border-color: #fcdb00;
    box-shadow: 0 0 0 0.5px rgb(13 110 253 / 25%);
}
.btn_yellow{
	width: 100%;
	height: 50px;
	font-family: 'PT Sans', sans-serif;
	font-size: 16px;
	font-weight: 700;
	color: #010101;
	text-transform: uppercase;
	background-color: #fcdb00;
	transition: .3s;
}
.btn_yellow:hover{
	background-color: white;
}
.m_tb{
	margin-top: 25px;
	margin-bottom: 75px;
}
.social_icon{}
.social_icon ul li a i{
	width: 45px;
	height: 45px;
	border-radius: 4px;
	font-size: 42px;
	color: #010101;
	background-color: #fcdb00;
	transition: .3s;
	margin: .5px;
}
.social_icon ul li a i:hover{
	background-color: white;
}
/*contact end*/


/*footer start*/
footer{
	background-color: #010101;
	padding-bottom: 120px;
}
.f1, .f2{
	font-size: 16px;
	font-weight: 400;
	color: white;
}
.f2 a{
	color: white !important;
	text-decoration: none;
}
/*footer end*/

